body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  padding: 30px;
  background: #020617;
}

.products {
  padding: 20px;
}

.product {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  width: 85%;
  max-width: 500px;
  border-radius: 12px;
}

.product h2 {
  margin-bottom: 10px;
}

.product p {
  color: #cbd5f5;
}

.product a {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.product a:hover {
  background: #16a34a;
}

footer {
  margin-top: 40px;
  padding: 15px;
  font-size: 12px;
  color: #94a3b8;
}